.audioPage{
    width: 100%;
    min-height: 40rem;
   
}
.song-page-like{
    color: rgb(185, 21, 21);
    align-self: flex-start;
    /* border-top: 1px solid rgb(185, 21, 21); */
    padding: 0.5rem;
    cursor: pointer;

}
.song-page-like:hover{
    color: rgb(119, 14, 14)

}
